.header{
    height: 100vh;
    width: 100px;
    background-color: whitesmoke;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
}

.header-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-profile{
    width: 50%;
}

.header-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
}

.header-itemOne{
    padding: 15px;
}

.header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}